@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <p>minu nimi on Aleksei ja mu sünnipäev on varsti tulemas ja ma andsin sulle selle lingi, et sa kirjutaksid, kas tuled mu sünnipäevale või mitte</p>
</div>