@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


    <address>
        Lasnamäe 32, <br />
        Tallinn, Eesti<br />
        <abbr title="Phone">P:</abbr>
        +3727392620
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2028.9783693179431!2d24.79053041615771!3d59.433435309712934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692935393ac5ce9%3A0x4c322f443fd21956!2sLasnam%C3%A4e%2032%2C%2011413%20Tallinn!5e0!3m2!1set!2see!4v1646123765467!5m2!1set!2see" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </p>

    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:aleksei.t@example.com">aleksei.t@example.com</a><br />
        <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
    </address>
